
h1 {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 50px;
    background: linear-gradient(135deg, #E20048 20%, #A600A6 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}